.text-regular
    font-family: "Shin Go Pro Regular"

.text-light
    font-family: "Shin Go Pro Light"

.text-lighter
    font-family: "Shin Go Pro Lighter"

.text-bold
    font-family: "Shin Go Pro Bold"

.text-bolder
    font-family: "Shin Go Pro Bolder"
