@use "../../media-queries.scss" as *;

.text-regular {
  font-family: "Shin Go Pro Regular";
}
.text-light {
  font-family: "Shin Go Pro Light";
}
.text-lighter {
  font-family: "Shin Go Pro Lighter";
}
.text-bold {
  font-family: "Shin Go Pro Bold";
}
.text-bolder {
  font-family: "Shin Go Pro Bolder";
}
.main {
  // Sizing and styling
  width: 100vw;
  height: 100vh;

  background-color: #1d1515;
  // Flexbox information
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  // Sizing and styling
  @include lt-md {
    width: 80%;
    height: 80%;
  }
  @include gt-sm {
    width: 50%;
    height: 50%;
  }
  color: #ffffff;
  // Flexbox information
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  // Sizing and styling
  width: 100%;
  height: auto;
  // Flexbox information
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // Text properties
  @include lt-md {
    span {
      font-size: 7vw;
    }
  }
  @include gt-sm {
    span {
      font-size: 4vw;
    }
  }
}
.tagline {
  // Sizing and styling
  width: 100%;
  height: auto;
  margin-top: -1vw;
  // Flexbox information
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // Text properties
  @include lt-md {
    span {
      font-size: 2.4vw;
    }
  }
  @include gt-sm {
    span {
      font-size: 1.5vw;
    }
  }
}
.divider {
  // Sizing and styling
  width: 100%;
  height: auto;
  margin-top: 1.4vw;
  // Flexbox information
  display: flex;
  align-items: center;
  justify-content: center;
  // Divider properties
  hr {
    width: 20vw;
    border-style: inset;
    border-width: 1px;
    align-self: center;
  }
}
.navigation {
  // Sizing and styling
  width: 75%;
  height: auto;
  @include lt-md {
    margin-top: 1.7vw;
  }
  @include gt-sm {
    margin-top: 1.1vw;
  }
  //Flexbox information
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // Navigation link properties

  // Text properties
  @include lt-md {
    a {
      font-size: 1.8vw;
    }
  }
  @include gt-sm {
    a {
      font-size: 1.1vw;
    }
  }
  a {
    text-decoration: none;
  }
  a:link {
    color: #ffffff;
  }
  a:visited {
    color: #ffffff;
  }
}
