<div class="main">
  <div class="content">
    <div class="title">
      <span class="text-bold">Jack Margeson</span>
    </div>
    <div class="tagline">
      <span class="text-regular"
        >student, software developer, problem solver at heart.</span
      >
    </div>
    <div class="divider"><hr /></div>
    <div class="navigation text-regular">
      <a href="/on/about">about</a>
      <a href="/on/projects">projects</a>
      <a href="https://github.com/jack-margeson" target="_blank">github</a>
      <a href="https://www.linkedin.com/in/jack-margeson/" target="_blank"
        >linkedin</a
      >
    </div>
  </div>
</div>
