<div class="main">
  <div class="navigation text-regular">
    <a class="material-symbols-outlined" href="/on"> arrow_back </a>
    <a href="/on/about" style="text-decoration: underline">about</a>
    <a href="/on/projects">projects</a>
    <a href="https://github.com/jack-margeson" target="_blank">github</a>
    <a href="https://www.linkedin.com/in/jack-margeson/" target="_blank"
      >linkedin</a
    >
  </div>
  <div class="about-container">
    <div class="image-container">
      <img src="../../assets/images/jack.jpg" class="profile-picture" />
    </div>
    <div class="information-container text-regular">
      <p class="title">Jack Margeson</p>
      <p class="description">
        Hello! My name is Jack Margeson. I'm a student at the University of
        Cincinnati, concurrently working on my bachelor's and master's degrees
        in Computer Science through the ACCEND program. Currently, I'm a
        full-time computer science student taking courses this fall. I've been a
        Boy Scout all my life, and achieved the highest rank of Eagle Scout in
        September, 2019. In my free time, I like to make all sorts of cool
        things, in all sorts of different mediums: glass-working, woodworking,
        metalworking, fabric-working, embroidery, 3D printing, hobby
        electronics, and more.
      </p>
    </div>
  </div>
</div>
