@use "../../media-queries.scss" as *;

.main {
  // Sizing and styling
  width: 100vw;
  @include lt-md {
    height: 100%;
  }
  @include gt-sm {
    height: 100vh;
  }
  min-height: 100vh;

  background-color: #1d1515;
  // Flexbox information
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation {
  // Sizing and styling
  width: 85vw;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
  // Flexbox information
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  // Navigation link properties
  // Text properties
  @include lt-md {
    a {
      font-size: 2.1vw;
    }
  }
  @include gt-sm {
    a {
      font-size: 1.1vw;
    }
  }
  a {
    text-decoration: none;
  }
  a:link {
    color: #ffffff;
  }
  a:visited {
    color: #ffffff;
  }
}
.about-container {
  // Sizing and styling
  width: 100vw;
  @include lt-md {
    height: 100%;
  }
  @include gt-sm {
    height: 90vh;
  }

  // Flexbox information
  display: flex;
  @include lt-md {
    flex-direction: column;
  }
  @include gt-sm {
    flex-direction: row;
    margin-right: 350px;
  }
  align-items: center;
  justify-content: center;
}
.information-container {
  // Sizing and styling
  @include lt-md {
    width: 80%;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  @include gt-sm {
    width: 50%;
  }
  height: auto;
  max-width: 50%;
  max-height: 50%;
  // Flexbox information
  display: flex;
  flex-direction: column;
  text-align: left;
}
.image-container {
  max-width: 50%;
  max-height: 50%;
  @include lt-md {
    text-align: center;
  }
  @include gt-sm {
    text-align: right;
    width: 50%;
    height: 50%;
  }
}
.profile-picture {
  @include lt-md {
    width: 100%;
  }
  @include gt-sm {
    height: 100%;
    padding-right: 40px;
  }
}
.title {
  // Sizing and styling
  margin-top: 8px;
  // Text properties
  @include lt-md {
    font-size: 3vw;
  }
  @include gt-sm {
    font-size: 2.4vw;
  }
  // Text styling
  color: #ffffff;
}
.description {
  // Text properties
  @include lt-md {
    font-size: 2vw;
  }
  @include gt-sm {
    font-size: 1vw;
    padding-right: 50px;
  }
  // Text information
  color: #ffffff;
}
