/* Override this file to customise the theme's CSS for your site */
h1 {
    font-size: 18px;
    margin: 1.5rem 0 0 0;
    font-weight: 600;
}

h2, 
h3, 
h4, 
h5, 
h6 {
    font-size: 1rem;
    margin: 1.5rem 0 0 0;
    font-weight: 600;
}

.page__logo {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    font-size: 1rem;
    color: var(--bg);
}