* { padding: 0px; margin: 0px;}

body {
    /* sizing and styling */
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    /* flexbox information */
    display: flex;
    flex-flow: column;
    align-items: left;
}

.titlebar {
    /* sizing and styling */
    width: 100vw;
    height: auto;
    /* flexbox information */
    display: flex;
    flex-flow: row;
    justify-self: top;
}

.logo {
    padding-left: 100px;
    padding-top: 20px;
}

.main_content {
    /* flexbox information */
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-between;
} 

.title_container {
    /* sizing and styling */
    padding-left: 100px;
    padding-top: 20vh;
}

.subtitle {
    /* sizing and styling */
    padding-bottom: 20px;
    font-size: 48px;
}

.title {
    /* sizing and styling */
    font-size: 96px;
    white-space: nowrap;
    overflow: hidden;
}

.description {
    /* sizing and styling */
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 40px;
}

.resume {
    /* sizing and styling */
    padding-right: 200px;
    padding-top: 10vh;
    /* flexbox information */
    display: flex;
    flex-flow: column;
    align-content: center;
}

.resume_text {
    /* sizing and styling */
    padding-right: 55px;
    font-size: 20px;
    font-style: bold;
    text-align: center;
}

.social {
    /* sizing and styling */
    padding-right: 80px;
    color: black;
    text-decoration: none;
}

.footer {
    /* sizing and styling */
    width: 100vw;
    height: auto;
    padding-bottom: 10px;
    /* flexbox information */
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer_text {
    /* sizing and styling */
    font-size: 20px;
    text-align: center;
}

.blink {
    padding-left: 5px;
    font-size: 86px;
    animation: blink 2s steps(1, end) infinite;
  } @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
