/* You can add global styles to this file, and also import other style files */

* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "Shin Go Pro Bold";
  src: url("assets/fonts/shin-go-pro/AOTFShinGoProBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Shin Go Pro Bolder";
  src: url("assets/fonts/shin-go-pro/AOTFShinGoProHeavy.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Shin Go Pro Light";
  src: url("assets/fonts/shin-go-pro/AOTFShinGoProLight.woff") format("woff");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Shin Go Pro Lighter";
  src: url("assets/fonts/shin-go-pro/AOTFShinGoProExLight.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Shin Go Pro Regular";
  src: url("assets/fonts/shin-go-pro/AOTFShinGoProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.text-regular {
  font-family: "Shin Go Pro Regular";
}
.text-light {
  font-family: "Shin Go Pro Light";
}
.text-lighter {
  font-family: "Shin Go Pro Lighter";
}
.text-bold {
  font-family: "Shin Go Pro Bold";
}
.text-bolder {
  font-family: "Shin Go Pro Bolder";
}
